.section-container {
    background-color: bisque;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.section-heading {
    color: #007bff;
    margin-bottom: 10px;

}

.section-subheading {
    color: #6c757d;
    margin-bottom: 20px;
}

.card1 {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    color: darkslateblue;
    border: 20px;


}


.dim {
    margin-top: 60px;
    margin-bottom: 60px;

}