.modifica {


    font-size: larger;
    margin: 100px;
}

.tt {

    border-radius: 20px;

}

h2 {
    color: darkslateblue;
    margin-bottom: 100px;
    margin-left: 100px;
    font-weight: bold;

}